<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Alien Spoilers{% endblock %}</title>

    {% block customStyle %}{% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block topbar %}
        <h1 style="background-color: #eee; padding: 20px 20px 20px 80px;">
          <a href="/" style="color:black; text-decoration: none;">Alien Spoilers</a>
        </h1>

        <div style="text-align:right">
        {% if user.is_authenticated %}
        {{user.username}} <a href="/subs/logout/">Logout</a>
        {% else %}
        <a href="/subs/logout/">Login</a>
        <a href="/subs/register/">Register Here!</a>
        {% endif %}
        {% endblock %}
      </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
