{% extends "base.html" %}

{% block title %}Welcome to Alien Spoilers{% endblock %}

{% block content %}
<h2>Welcome to Alien Spoilers!</h2>

<p>Alien Spoilers is an awesome web app to automatically manage your Reddit
  subscriptions so that you can avoid spoilers for your favorite TV shows and
  sporting events while still wasting all of your time on Reddit!
</p>
{% endblock %}

<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Alien Spoilers</title>
    </head>

    <body>
        <h1>Welcome to Alien Spoilers!</h1>
        <a href="/subs/register/">Register Here!</a><br />
        <a href="/subs/login/">Login</a>

    </body>
</html>
-->
