{% extends "base.html" %}

{% block title %}Welcome to Alien Spoilers{% endblock %}
{% block pagename %} Welcome to Alien Spoilers {% endblock %}


{%block content %}
<div id="headerwrap">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Avoid spoilers for your favorite tv shows with</h3>
        <h1>Alien Spoilers </h1>
        <h5>Manage your Reddit subscriptions so that you can avoid </h5>
        <h5>spoilers while still wasting all of your time on Reddit!</h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        <img src="/static/assets/img/doge.jpeg" class="img-responsive">
      </div>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 CONTACT FORMS
 ***************************************************************************************************************** -->

 <div class="container mtb">
   <div class="row">
     <div class="col-lg-7" style="margin-left:auto; margin-right-auto;">
       <h4>Register Today</h4>
       <div class="hline"></div>
       <form id="user_form" method="post" action="/subs/register/"
           enctype="multipart/form-data">
       {% csrf_token %}

          <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text" /></p>
          <p><label for="id_email">Email address:</label> <input id="id_email" maxlength="75" name="email" type="email" /></p>
          <p><label for="id_password">Password:</label> <input id="id_password" name="password" type="password" /></p>

          <button type="submit" name ="submit" class="btn btn-theme">Submit</button>
        </form>
    </div><! --/col-lg-8 -->

     <div class="col-lg-5" style="margin-left:auto; margin-right-auto;">
       <h4>Login</h4>
       <div class="hline"></div>
       <form id="login_form" method="post" action="/subs/login/">
           {% csrf_token %}

           <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text" /></p>
           <p><label for="id_password">Password:</label> <input id="id_password" maxlength="30" name="password" type="password" /></p>

            <button type="submit" name ="submit" class="btn btn-theme">Submit</button>
       </form>
    </div>
   </div><! --/row -->
 </div><! --/container -->
{% endblock %}

{% block content1 %}

<p>Alien Spoilers is an awesome web app to automatically manage your Reddit
  subscriptions so that you can avoid spoilers for your favorite TV shows and
  sporting events while still wasting all of your time on Reddit!
</p>

{% endblock %}

<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Alien Spoilers</title>
    </head>

    <body>
        <h1>Welcome to Alien Spoilers!</h1>
        <a href="/subs/register/">Register Here!</a><br />
        <a href="/subs/login/">Login</a>

    </body>
</html>
-->
