{% extends "base.html" %}
{% load  staticfiles %}

{% block title %}Create an Event{% endblock %}

{% block pagename %} Create Event {% endblock %}

{% block content %}
<div class="container mtb">

  {% if created %}
    <h3>
      Thanks for creating an event!
      <a href="/">Return to the homepage.</a><br />
    </h3>
  {% else %}
    Alien Spoilers says: <strong>create an event here!</strong><br />
    {% if invalid %}
      <div style="color:#FF0000"> {{msg}} </div>
    {% endif %}

    <form id="event_form" method="post" action="/subs/create_event/"
          enctype="multipart/form-data">

          {% csrf_token %}


          {{ event_form.as_p }}

          <!--Start Date: <input maxlength="200" id="start_date" name="start_date" type="text" /></br>
          End Date: <input maxlength="200" id = "start_date" name="end_date" type="text" /></br>-->

          <label for="datetimepicker6">Start Date:</label>
          <div class='input-group date' id='datetimepicker6'>
            <input type='text' class="form-control" maxlength="200" name="start_date" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>

          </br>

          <label for="datetimepicker7">End Date:</label>
          <div class='input-group date' id='datetimepicker7'>
            <input type='text' class="form-control" maxlength="200" name="end_date"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>

          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker6').datetimepicker({
                    format:"YYYY-MM-DD HH:mm:ss"
                  });
                  $('#datetimepicker7').datetimepicker({
                    format:"YYYY-MM-DD HH:mm:ss"
                  });
                  $("#datetimepicker6").on("dp.change", function (e) {
                      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                  });
                  $("#datetimepicker7").on("dp.change", function (e) {
                      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                  });
              });
          </script>


          Repeat:</br>
          <input type="radio" name="choice" id="choice0" value="None" checked/>
          <label for="choice0">None</label><br />

          <input type="radio" name="choice" id="choice1" value="Weekly" />
          <label for="choice1">Weekly</label><br />

          <input type="radio" name="choice" id="choice2" value="Monthly" />
          <label for="choice2">Monthly</label><br />

          <input type="submit" name="submit" value="Create Event" />
    </form>
  {% endif %}
</div>
{% endblock %}



<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Alien Spoilers - Create Event</title
    </head>

    <body>
        <h1>Create Event</h1>

        {% if created %}
        Alien Spoilers says: <strong>thank you for creating an event!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Alien Spoilers says: <strong>create an event here!</strong><br />

        <form id="event_form" method="post" action="/subs/create_event/"
                enctype="multipart/form-data">

            {% csrf_token %}


            {{ event_form.as_p }}

            <input type="submit" name="submit" value="Create Event" />
        </form>
        {% endif %}
    </body>
</html>
-->
