{% extends "base.html" %}

{% block title %}Create an Event{% endblock %}

{% block content %}
  <h2>Create an Event</h2>
  
  {% if created %}
    Alien Spoilers says: <strong>thank you for creating an event!</strong>
    <a href="/">Return to the homepage.</a><br />
  {% else %}
    Alien Spoilers says: <strong>create an event here!</strong><br />

    <form id="event_form" method="post" action="/subs/create_event/"
          enctype="multipart/form-data">

          {% csrf_token %}


          {{ event_form.as_p }}

          <input type="submit" name="submit" value="Create Event" />
    </form>
  {% endif %}
{% endblock %}



<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Alien Spoilers - Create Event</title
    </head>

    <body>
        <h1>Create Event</h1>

        {% if created %}
        Alien Spoilers says: <strong>thank you for creating an event!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Alien Spoilers says: <strong>create an event here!</strong><br />

        <form id="event_form" method="post" action="/subs/create_event/"
                enctype="multipart/form-data">

            {% csrf_token %}


            {{ event_form.as_p }}

            <input type="submit" name="submit" value="Create Event" />
        </form>
        {% endif %}
    </body>
</html>
-->
