{% extends "base.html" %}
{% load  staticfiles %}

{% block title %}Welcome to Alien Spoilers{% endblock %}
{% block customStyle %}
<style>
  table, th, td {
    border: 0px;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
  }
  th{
    border-bottom: 2px solid black;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color:#fff;
  }
</style>
{% endblock %}

{% block pagename %}
Your Events
{% endblock %}

{% block content %}
<div class="container mtb">
    Create a new event <a href="/subs/create_event">here</a>!
  </br>
    View all of your Reddit Subscriptions <a href="/subs/my_subreddits">here</a>!
  <h2>Your Current Events:</h2>

  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Subreddit</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Repeat</th>
      <th></th>
  </tr>
  {% for event in current_events %}
    <tr>
      <td> {{ event.title }} </td>
      <td> {{ event.subreddit }} </td>
      <td> {{ event.start_date }} </td>
      <td> {{ event.end_date }} </td>
      <td>
        {%if event.repeat %}
          <img src="/static/admin/img/icon-yes.gif" alt="True" />
          {{event.repeat_type}}
        {%else%}
          <img src="/static/admin/img/icon-no.gif" alt="True" />
          None
        {%endif%}
        </td>
      <td> <form id="delete_event_form" method="post" action="/subs/?id={{event.event_id}}">
            {% csrf_token %}
            <input type="submit" value="delete" />
          </form>
      </td>
    </tr>
  {% empty %}
    <td colspan = "4"> Sorry, No events found... </td>
  {% endfor %}
  </table>
  <h2>Your Past Events:</h2>

  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Subreddit</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Repeat</th>
      <th></th>
  </tr>
  {% for event in past_events %}
    <tr>
      <td> {{ event.title }} </td>
      <td> {{ event.subreddit }} </td>
      <td> {{ event.start_date }} </td>
      <td> {{ event.end_date }} </td>
      <td>
        {%if event.repeat %}
          <img src="/static/admin/img/icon-yes.gif" alt="True" />
          {{event.repeat_type}}
        {%else%}
          <img src="/static/admin/img/icon-no.gif" alt="True" />
          None
        {%endif%}
        </td>
      <td> <form id="delete_event_form" method="post" action="/subs/?id={{event.event_id}}">
            {% csrf_token %}
            <input type="submit" value="delete" />
          </form>
      </td>
    </tr>
  {% empty %}
    <td colspan = "4"> Sorry, No events found... </td>
  {% endfor %}
  </table>
</div>
{% endblock %}
