{% extends "base.html" %}

{% block title %}Welcome to Alien Spoilers{% endblock %}
{% block customStyle %}
<style>
  table, th, td {
    border: 0px;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
  }
  th{
    border-bottom: 2px solid black;
  }
  table tr:nth-child(even) {
    background-color: #eee;
  }
  table tr:nth-child(odd) {
   background-color:#fff;
  }
</style>
{% endblock %}

{% block content %}
  <h2>Your Events:</h2>

  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Subreddit</th>
      <th>Start Date</th>
      <th>End Date</th>
  </tr>
  {% for event in events %}
    <tr>
      <td> {{ event.title }} </td>
      <td> {{ event.subreddit }} </td>
      <td> {{ event.start_date }} </td>
      <td> {{ event.end_date }} </td>
    </tr>
  {% empty %}
    <td colspan = "4"> Sorry, No events found... </td>
  {% endfor %}
  </table>

  <p>
    Create a new event <a href="/subs/create_event">here</a>!
  </p>

  <p>
    View all of your Reddit Subscriptions <a href="/subs/my_subreddits">here</a>!
  </p>

{% endblock %}
