{% extends "base.html" %}
{% load  staticfiles %}

{% block title %}Register for Alien Spoilers{% endblock %}
{% block pagename %} Register {% endblock %}

{% block content %}
<div class="container mtb">

  {% if registered %}
    <h2> Thanks for registering! </h2>
    <p>
      Return to the <a href="/">homepage</a>
    </p>

  {% else %}
    <form id="user_form" method="post" action="/subs/register/"
        enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>

  {% endif %}
</div>
{% endblock %}

<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Alien Spoilers - Register</title>
    </head>

    <body>
        <h1>Register with Alien Spoilers!</h1>

        {% if registered %}
        Alien Spoilers says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        Alien Spoilers says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/subs/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
-->
